<a href="https://colab.research.google.com/github/gokce-d/DS4A_Team37/blob/ARIMA/DS4A_ARIMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ARIMA Analysis for the Indices
## Energy Index

In [2]:
import numpy as np
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
energy_url = "https://raw.githubusercontent.com/gokce-d/DS4A_Team37/master/Energy_Index.csv"
energy_index = pd.read_csv(energy_url)
energy_index.tail()

     Effective date   S&P 500 Energy (Sector)
2529       9/20/2021                   358.00
2530       9/21/2021                   359.34
2531       9/22/2021                   370.71
2532       9/23/2021                   383.35
2533       9/24/2021                   386.57